<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/@fortawesome/fontawesome-free/css/all.css">
  <link rel="icon" href="/images/favicon.ico">
  <title>SECRET DIARY</title>
</head>



<body>
